// bootstrap Customize

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");
$primary: hsl(19, 64%, 54%);

$body-bg: hsl(19, 100%, 96%);
$btn-border-radius: 1.5rem;
$btn-padding-x: 1.5rem;
$btn-padding-y: 0.7rem;
$navbar-nav-link-padding-x: 1.5rem;
$font-family-base: "Poppins", sans-serif;
$headings-font-family: "Lora", serif;
$light: hsl(19, 8%, 55%);
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
);

@import "../node_modules/remixicon/fonts/remixicon.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  color: white;
}
// customize
.nav-brand-icon {
  height: 1.5rem;
}
.img-icon {
  height: 2.5rem;
  // vertical-align: middle;
}
.subtitle {
  font-size: larger;
  font-family: "Dancing Script", cursive;
  color: $primary;
}
